body {
    background-image: url('backg1.jpg');
    /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;
}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    /* Adjust the height as needed */
    margin: 20px 0;
    background-color: #f8f9fa;
    /* Light background color */
    border: 1px solid #dee2e6;
    /* Border color */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    padding: 20px;
    /* Padding inside the box */
    text-align: center;
}

.welcome-container h2 {
    font-size: 4rem;
    /* Large font size */
    color: #343a40;
    /* Dark color for the text */
    margin: 0;
    /* Remove default margin */
}